<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ url_for('static', filename='Octocat.png') }}" class="App-logo" alt="logo" />
            
            <div class="container">
                <h1>QR Code Generator</h1>
        
                <div id="input-container">
                    <label for="qr-text">Enter Text:</label>
                    <input type="text" id="qr-text" placeholder="Enter text...">
                    <button onclick="generateQR()">Generate QR Code</button>
                </div>
        
                <!-- Moved the QR code container below the input container -->
                <div id="qrcode-container">
                    <div id="qrcode"></div>
                    <p id="feedback"></p>
                </div>
            </div>

        </header>
    </div>

</body>
</html>
